<footer class="section pt-0">
  <p class="w-full text-center text-sm text-foreground/60">
    © 2025 Tomas Guzman — Diseñado y desarrollado íntegramente con <strong>Astro</strong> y <strong>TypeScript</strong>.
  </p>
</footer>
