<section
  id="hero"
  class="section min-h-[75dvh] flex justify-center items-center"
>
  <div class="text-center animate-fadeUp">
    <h1 class="text-5xl md:text-7xl font-semibold text-accent">Tomas Guzman</h1>
    <h2
      class="mt-4 text-2xl md:text-4xl font-semibold text-accent drop-shadow-[0_0_10px_var(--accent)]"
    >
      Software Engineer — Frontend Focus
    </h2>
    <p class="mt-6 text-foreground/80 max-w-[56ch] mx-auto text-lg">
      Desarrollo <strong
        >interfaces web escalables, limpias y sostenibles</strong
      >, aplicando principios de
      <strong>arquitectura modular</strong>, <strong>rendimiento</strong> y <strong
        >claridad técnica</strong
      >.<br /><br />
      Combino <strong>diseño, ingeniería y desarrollo</strong> para crear soluciones
      coherentes, mantenibles y orientadas a producto, garantizando <strong
        >consistencia técnica</strong
      > en cada entrega.<br /><br />
      Actualmente amplío mi alcance hacia <strong>Java y Spring Boot</strong> para
      integrar una
      <strong>visión full stack</strong> enfocada en <strong
        >arquitectura, escalabilidad y calidad de software</strong
      >.
    </p>

    <a
      href="#experience"
      class="inline-block mt-10 px-7 py-3 rounded-xl border border-white/10 hovSer:border-accent transition link text-lg font-semibold"
      >Conoceme más</a
    >
  </div>
</section>
